$light: #d6d6d6;
$dark: #14121f;
$red: rgb(216, 0, 0);
$sky: #6cace3;

@font-face {
    font-family: "regular";
    src: url("fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "light";
    src: url("fonts/Raleway-Light.ttf");
}
@font-face {
    font-family: "medium";
    src: url("fonts/Raleway-Medium.ttf");
}
@font-face {
    font-family: "bold";
    src: url("fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: "black";
    src: url("fonts/Raleway-Black.ttf");
}
@font-face {
    font-family: "u";
    src: url("fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "ub";
    src: url("fonts/Ubuntu-Bold.ttf");
}

html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    &::before,
    &::after {
        transition: 0.1s linear;
    }
}
body {
    font-family: "regular";
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
    }
}

.btn {
    transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear, box-shadow 0.1s linear !important;
}

.btn,
a {
    box-shadow: none;
    outline: none !important;

    &:focus {
        box-shadow: none;
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-family: "bold";
    margin: 0px;
}

a {
    text-decoration: none !important;
}
select,
input,
button {
    &:focus {
        box-shadow: none !important;
    }
}

.btn-theme {
    border-radius: 7px;
    font-size: 16px;
    font-family: bold;
    background-color: $sky;
    padding: 10px 15px;
    min-width: 150px;
    border: none;
    color: #fff;

    @media (max-width: 991px) {
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 4px;
    }

    &:hover {
        background-color: #008fe2;
        color: #fff;
    }
}

.login-brand {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-size: 45px;
    text-transform: uppercase;
    font-family: black;
    color: #a70000 !important;
    transition: 0.1s linear;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    @media (max-width: 991px) {
        padding: 10px 30px;
        line-height: 41px;
    }
}

.sign {
    padding: 0px 15px;
    position: relative;
    z-index: 10;
    background-image: url(../images/loginBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 991px) {
        padding: 0 15px;
    }

    .brand {
        padding: 15px 0;
        color: #fff;
    }

    .form-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: bold;
            font-size: 25px;
            margin: 0px 0px 25px;
            color: #fff;
            text-align: center;
        }

        p {
            text-align: center;
            color: #fff;
            &.heading-p {
                font-size: 12px;
            }

            a {
                font-family: bold;
                color: #fff;
                transition: 0.1s ease;

                &:hover {
                    color: blue;
                }
            }
        }
    }

    form {
        width: 100%;
        max-width: 450px;
        display: flex;
        align-items: center;
        background-color: #ffffff25;
        margin: 0 auto;
        position: relative;
        margin-bottom: 30px;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 10%);
        &.bg-solid {
            background-color: #22272e;
            border-radius: 25px;
        }
        @media (max-width: 991px) {
            flex-direction: column;
        }
        .form-check-input:checked {
            background-color: #2196f3;
            border-color: #2196f3;
        }
    }

    .fields {
        width: 50%;
        width: 100%;
        padding: 35px;

        @media (max-width: 991px) {
            padding: 30px;
        }

        .form-group {
            margin: 0px 0px 20px;
            position: relative;
            .form-control {
                border: none;
                font-size: 14px;
                margin: 0;
                min-height: 45px;
                background: transparent;
                font-family: medium;
                color: #fff;
                background-color: #ffffff05;
                border-radius: 50px;
                padding: 5px 20px;
                backdrop-filter: blur(5px);
                &::placeholder {
                    color: #fff;
                }
            }
        }

        .form-check-inline {
            span {
                font-family: bold;
                font-size: 13px;
                color: #fff;
                cursor: pointer;
            }
        }

        .link {
            font-size: 13px;
            font-family: bold;
            color: #fff;
            transition: 0.1s ease;

            &:hover {
                color: rgb(0, 150, 236);
            }
        }
        .btn-theme {
            display: block;
            margin: 0 auto;
            width: 100%;
            font-size: 14px;
            font-family: bold;
            letter-spacing: 1px;
            border-radius: 50px;
        }
    }
}
.rizeBrand {
    img {
        height: 30px;
        width: auto;
    }
}
